<%= simple_form_for(@group_meal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :meal %>
    <%= f.input :proposed_start_time %>
    <%= f.input :proposed_end_time %>
    <%= f.input :set_start_time %>
    <%= f.input :set_end_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
