<p id="notice"><%= notice %></p>
<div class="panel">
	<div class="row">	
		<div class="large-6 columns">	
			<img src="<%= @user.image %>">
			<h3><%= @user.name %></h3>
			<h6><%= @user.location %></h6>
			<h6><%= @user.college %></h6>
			<h6><a href="<%= @user.facebook_url %>" target="_blank"><%= @user.facebook_url %></a></h6>
		</div>
		
		<% if @ordered !=nil %>
			<div class="large-6 columns">
				<h4> Favorites: </h4>
				<table>
					<% @ordered.first(5).each do |k, b| %>
					<tr>
						<td onmouseover="this.style.cursor='pointer';" onclick="window.location.href = '<%= url_for(:controller => 'businesses', :action => 'show', :id=>k.id) %>'"><u><%= "#{k.name}:" %></u></td>
						<td><%= "#{b} times" %> </td>
					</tr>
					<% end %>
				</table>
			</div>
		<% end %>
	</div>
</div>