<%= simple_form_for @meal do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <% bus= Business.where(:city =>"Philadelphia").order(:name) %>
    <%= f.collection_select(:location, bus, :id, :name, {:prompt => "Select a Restaurant"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
