<script>	
	function showDiv(chosen){
	  if(chosen == "Private")
	    document.getElementById("privacy").style.display = "block"
	  else
	  	document.getElementById("privacy").style.display = "none"
	}
</script>

<%= simple_form_for @meal, :html => { :class =>"custom", :id=> "myForm"} do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" style="width:50%"> 
    <b>Location</b>
    <% if @meal.location == nil%>
        <%= f.text_field :location, data: {autocomplete_source: Business.connection.select_values(query)} %>
    <% else %>
        <%= f.text_field :location, data: {autocomplete_source: Business.connection.select_values(query)}, :readonly => "true" %>
  	 <% end %>
  </div>
  <div class="field" style="width:25%;float:right;margin-right:30%">
    <b>End Time</b><br />
    <%= f.datetime_select :end_time, :ampm => true, :start_year => 2013, :order => [:month, :day, :year], :minute_step => 15 %>
  </div>
  <div style="float:right;margin-right:8%">
  	<b>to</b>
  </div>
  <div class="field"  style="width:25%">
    <b>Start Time</b><br />
    <%= f.datetime_select :start_time, :ampm => true, :start_year => 2013, :order => [:month, :day, :year], :minute_step => 15  %>
  </div>
  <div class="field" style="width:30%">
    <b>Privacy Level <b><br />
    <%= f.select :privacy_level, options_for_select([["Public", "public"], ["Private", "private"]]), {} , :onchange => 'showDiv(this.options[this.selectedIndex].innerHTML)' %>
  </div>
  
  <div id="privacy" style="display:none"  >
    <h5> Type users who can see this </h5>
	<%= text_field_tag 'private', nil %>
  </div><br /><br />
  <div class="actions">
    <%= f.submit 'Create Meal', :class =>"button" %>
  </div>
<% end %>
