<div class="panel">
<div class="style:float-left">
	<%= button_to "New Meal", new_meal_path,:method => :get,class:"button" %>
<h1 style="text-align:center">MealFeed</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Start Time</th>
    <th>End Time</th>
	<th>Host</th>
  </tr>

<% @meals.each do |m| %>
  <tr>
    <td><%= Business.find_by_id(m.location).name %></td>
    <td><%= l(m.start_time, :format => :short) %></td>
    <td><%= l(m.end_time, :format => :short)%></td>
    <td><%= User.find(m.host).name %></td>
  </tr>
<% end %>
</table>
</div>

