<div class="panel">
	<div class="style:float-left">
		<%= button_to "New Meal", new_meal_path,:method => :get,class:"button" %>
	<h1 style="text-align:center">MealFeed</h1>	
	<div>
		<% @meals.each do |m| %>
		<div class="row">
			<div class="large-9 columns">
				<table style="width:600px;text-align:center">
				  <tr>
					<td><img src="<%= Business.find_by_id(m.location).photo_url %>"></td>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Host</th>
				  </tr>
				  <tr>
					<td width="30%" onmouseover="this.style.cursor='pointer';" onclick="window.location.href = '<%= url_for(:controller => 'businesses', :action => 'show', :id=>m.location) %>' "><h5><u><%= Business.find_by_id(m.location).name %><u></h5></td>
					<td width="20%"><%= m.start_time.strftime("%m/%d at %I:%M%p")%></td>
					<td width="20%"><%= m.end_time.strftime("%I:%M%p")%></td>
					<td width="20%"><% if current_user.id == m.host %> <span class="round alert label">You!</span> <% else %><%= User.find(m.host).name %> <% end %></td>
				  </tr>
				</table>
			</div>
			<div class="large-3 columns">
				<% if GroupMeal.find_by_meal(m.id) != nil  %>
					<% if (m.host == current_user.id || GroupMealsParticipant.find_by_user_id_and_group_meal_id(current_user.id,GroupMeal.find_by_meal(m.id).id)!=nil)%>
						<%= link_to 'See Group Meal', group_meal_path(GroupMeal.find_by_meal(m.id)), :class =>"button" %>
					<% else %>
							<%= button_to 'Join', {:controller => "group_meals", :action => "joinGroup", :meal =>m.id},  :method => "post" , :class =>"button" %>
					<% end %>
					
					<% if GroupMeal.find_by_meal(m.id).set_start_time != nil %>
						<span class="round alert label">Final Time Set!</span>
					<% end %>
				<% else %>
					<%= button_to 'Join', {:controller => "group_meals", :action => "joinGroup", :meal =>m.id},  :method => "post" , :class =>"button" %>
				<% end %>
				
				
			</div>
		</div>
		<% end %>
	</div>
</div>

