<p id="notice"><%= notice %></p>

<p>
  <b>Host:</b>
  <%= @meal.host %>
</p>

<p>
  <b>Start time:</b>
  <%= @meal.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @meal.end_time %>
</p>

<p>
  <b>Location:</b>
  <%= @meal.location %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
