<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>QuickByte</title>

  	<%= stylesheet_link_tag    "application" , "token-input" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" , "jquery.tokeninput" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <!-- Nav Bar -->
  <div class="wrapper">
	  <div class="row-full">
	  
    <div class="fixed">
		<nav class="top-bar ">
		<ul class="title-area">
          <li class="name">
            <h1><a>QuickByte</a></h1>
          </li>
        </ul>
        	<% if request.env['PATH_INFO'] !="/" %>
        <section class="top-bar-section">
        <ul class="left">
         <% if current_user %>
		   <div onmouseover="this.style.cursor='pointer';" onclick="window.location.href = '<%= url_for(:controller => 'users', :action => 'show', :id=>current_user.id) %>'"> 
		    <li class="active"><img src="<%=current_user.image %>" width="40px"></li>
		    <li class="active"><a href="<%= url_for(:controller => 'users', :action => 'show', :id=>current_user.id) %>"><%= current_user.name %></a></li></div>
		 <% end %>
		 </ul>   
		<ul class="right">	
		  <% if current_user %>
		    <li class="active"><%= link_to 'GroupMeals',{:controller => "group_meals", :action => "getUserGroups", :user =>current_user},  :method => "post"   %>
		    	
		    </li> 
		    <% if current_user.alert %>
		    	<%= image_tag "notification.gif", :style=>"position:fixed;right:280px" %>
		    <% end %>
		    <li class="active"><a href="/meals">MealFeed</a></li>
			<li class="active"><%= button_to "Sign out", signout_path, id: "sign_out",class:"button" %></li>
		  <% end %>
		</ul>
		<% if current_user %>
		  <ul style="position:absolute;margin-left:1%">
			<li class="has-form">
			<%= form_tag(:controller => "businesses", :action => "autoComp", :method => "post") do %>
			  <div class="row collapse">
				<div class="small-8 columns">
				 <label style="display:none" for="search">search: </label>
				  <%= text_field_tag 'search', '', :data => {autocomplete_source: Business.connection.select_values(query)}, :id => 'search' %>	  
				</div>
				<div class="small-4 columns">
				  <%= submit_tag 'Search', :class =>"button" %>
				</div>
			  </div>
			<% end %>
			</li>
		  </ul>
		<% end %>
		</section>
		<% end %>
		</nav>
	  </div>
	</div>
	  <!-- End Nav -->

	<!-- Main Page Content -->
	<div style="margin-top:5%">
	<% if request.env['PATH_INFO'] =="/meals" %>
		<% if @ordered != nil %>
			<div style="position:fixed;right:45px">
				<h6> Your Favorites </h6>
				<table>
					<% @ordered.first(5).each do |k, b| %>
					<tr>
						<td onmouseover="this.style.cursor='pointer';" onclick="window.location.href = '<%= url_for(:controller => 'businesses', :action => 'show', :id=>k.id) %>'"><u><%= "#{k.name}:" %></u></td>
						<td><%= "#{b} times" %> </td>
					</tr>
					<% end %>
				</table>
			</div>
	  	<% end %>
	  <% end %>
	  
	  <div class="row">
		<!-- Main Blog Content -->
		<div class="large-12 columns" role="content">		
			  <%= yield %> 	
		</div>
		<!-- End Main Content -->
	  </div>
	</div>
  </div>
  <%= javascript_include_tag "application" %>
  </body>
  
</html>
